::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
input,
button {
    margin: 0;
}

body {
    width: 100vw;
    height: auto;
}